@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*, *::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 13px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color:  hsl(210, 46%, 95%);
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 1rem;
}

section{
    border-radius: 1rem;
    padding: 1.8rem 2.5rem;
    margin: 1rem auto;
}

.card-1{
    background-color: hsl(263, 55%, 52%);
    position: relative;
    z-index: 0;
}


.bg-pattern-quotation{
    position: absolute;
    right: 1.5rem;
    top: 0;
    height: 8rem;
    width: 8rem;
    z-index: -1;
}


.card-2{
    background-color: hsl(217, 19%, 35%);
}

.card-3, .card-5{
    background-color: hsl(0, 0%, 100%);
}

.card-4{
    background-color: hsl(219, 29%, 14%);
}

.person{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.person img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.card-1 .daniel{
    border: 3px solid hsl(210, 46%, 95%, 0.3);
}

.card-4 .patrick{
    border: 3px solid hsl(263, 55%, 52%);
}
.card-1 .name h1{
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    line-height: 2rem;
}

.card-1 .name h2{
    color: hsl(0, 0%, 100%, 0.5);
    font-size: 1.2rem;
}

.card-2 .name h2, .card-4 .name h2{
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    line-height: 2rem;
}

.card-3 .name h2, .card-5 .name h2{
    color:   hsl(217, 19%, 35%);
    font-size: 1.2rem;
    line-height: 2rem;
}

.card-2 .name h3, .card-4 .name h3{
    color: hsl(0, 0%, 100%, 0.5);
    font-size: 1.2rem;
}

.card-3 .name h3, .card-5 .name h3{
    color: hsl(217, 19%, 35%, 0.5);
    font-size: 1.2rem;
}

.text h3{
    color: hsl(0, 0%, 100%);
    margin: 1.5rem auto;
    font-size: 1.8rem;
    font-weight: 600;
}

.text p{
    color: hsl(0, 0%, 100%, 0.7);
    font-size: 1rem;
    line-height: 1.475rem;
}

.card-3 .text h3, .card-5 .text h3{
    color: hsl(217, 19%, 35%);
    margin: 1.5rem auto;
    font-size: 1.7rem;
    font-weight: 600;
}

.card-3 .text p, .card-5 .text p{
    color: hsl(217, 19%, 35%, 0.7);
    font-size: 1rem;
    line-height: 1.475rem;

}

@media (min-width: 600px) and (max-width: 800px){
    .main{
        width: 55rem;
    }

}


@media (min-width: 1000px) {
    body {
        background-color: hsl(263, 26%, 58%);
    }

    .main{
        width: 90rem;
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
                  "card1 card1 card2 card5"
                  "card3 card4 card4 card5";
    }

    .bg-pattern-quotation{
        right: 6.5rem;
    }

    .text h3{
        margin: 1rem auto;
    }

    .card-1{
        grid-area: card1;
    }

    .card-2{
        grid-area: card2;
    }

    .card-3{
        grid-area: card3;
        margin-top: -1.3rem;
    }

    .card-4{
        grid-area: card4;
        margin-top: -1.3rem;
    }

    .card-5{
        grid-area: card5;
    }

  }